@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


$navbar_transparent: #0d1418c7;
$background-dark: #131C22;
$footer-dark: #0d1418;
$light-background: #F0ECE5;
$snippet-brown: #DFDBD5;
$text-brown: #4f4e4c;
$dark-green: #3f612f;
$light_text: #FAF6F4;
$navbar-green: #639b4a;
$darker-brown: #c9c7c3;
$light-event: #F9F7F3;
$shadow: #25381c72;
$red: #9C3918;
$light-red: #e15324;
$back-transparent: #00000066;
$dark-brown: #99968D;
$top-trips-active:#fefcfa;


$text-font: 'Inter', sans-serif;
$navbar-font: 'Alumni Sans', sans-serif;
