@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
button:hover {
  cursor: pointer;
}

.page_container {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100vw;
  width: 99vw;
  min-height: 100vh;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #131C22;
  overflow-x: hidden;
}

.navbar_component {
  position: fixed;
  width: 100dvw;
  height: min(3.6rem, 8dvh);
  left: 0;
  top: 0;
  background-color: rgba(13, 20, 24, 0.7803921569);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FAF6F4;
  z-index: 10;
  padding: 0 4%;
  overflow: hidden;
}

.logo_button {
  font-size: clamp(1.9rem, 3.5vw, 2.3rem);
  font-family: "Alumni Sans", sans-serif;
  font-weight: 600;
  margin-right: 6%;
  background-color: transparent;
  color: #FAF6F4;
  border: none;
  text-decoration: none;
}
.logo_button:hover {
  color: #639b4a;
}

.login_logout a button, .centered_buttons a button {
  background-color: transparent;
  border: none;
  border-radius: 1rem;
  padding: 0.2rem 1rem;
  color: #FAF6F4;
  font-size: clamp(1.6rem, 3.5vw, 2rem);
  font-family: "Alumni Sans", sans-serif;
  font-weight: 330;
  letter-spacing: 0%;
  overflow: hidden;
}

.login_logout a, .centered_buttons a {
  text-decoration: none;
  display: inline-block;
}

.centered_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.centered_buttons a {
  min-width: clamp(7rem, 18vw, 12rem);
  margin-right: min(1vw, 1%);
}
.centered_buttons a button:hover {
  background-color: rgba(255, 255, 255, 0.103);
}

.login_logout {
  margin-right: min(3%, 5rem);
  padding-right: min(5%, 5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.login_logout a button {
  padding: 0;
  border-radius: 0;
}
.login_logout a button:hover {
  color: #639b4a;
}

#get_started {
  margin-left: 1vw;
  padding: 0.1vh 1.3vw;
  border-radius: 68px;
  background-color: rgba(255, 255, 255, 0.105);
}
#get_started:hover {
  background-color: rgba(255, 255, 255, 0.273);
  color: #FAF6F4;
}

.avatar_container {
  background-color: #F0ECE5;
  border-radius: 100%;
  width: clamp(2rem, 2.6vw, 2.5rem);
  height: auto;
  margin-left: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  border: solid max(0.08rem, 0.15vw);
  border-color: #3f612f;
}

#profile_picture {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100dvw;
  height: clamp(70px, 14dvh, 110px);
  background-color: #0d1418;
  color: #FAF6F4;
  font-size: clamp(0.5rem, 3vw, 1rem);
  font-family: "Alumni Sans", sans-serif;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  z-index: 3;
  padding-inline: 1.3vw;
}

.contact_info, .support_info, .privacy_policy {
  min-width: 11.5rem;
}

a {
  color: #3f612f;
  cursor: pointer;
}
a:link, a:visited {
  color: #3f612f;
}
a:hover, a:active {
  color: #639b4a;
}

.page_body {
  position: relative;
  width: 74vw;
  min-height: 75vh;
  background-color: #F0ECE5;
  margin: auto;
  margin-top: 59px;
  padding: 3% 4%;
  padding-bottom: 6%;
  font-family: "Inter", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
}

.left_part {
  width: 100%;
}

.side_info {
  margin-left: 5%;
  font-size: 1.2rem;
}

#block_title {
  font-size: 1.6rem;
  margin-left: 5%;
  color: #3f612f;
  font-weight: 450;
  margin-bottom: 7%;
}

.line_title {
  color: #3f612f;
  margin-right: 5%;
}

.right_part {
  width: 78%;
}

.main_info {
  margin-left: auto;
  width: 75%;
  height: 90%;
  border-radius: 0.8vw;
  background-color: #DFDBD5;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5%;
  font-size: 1.19rem;
}

#info_block {
  width: 80%;
}
#info_block p {
  margin-bottom: 8%;
}

.image_container {
  width: 15vw;
  height: 32vh;
  border-radius: 100%;
  background-color: #c9c7c3;
  -webkit-box-shadow: inset -3px 8px 4px rgba(0, 0, 0, 0.279);
          box-shadow: inset -3px 8px 4px rgba(0, 0, 0, 0.279);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  border: 0.3vw solid;
  border-color: #c9c7c3;
}
.image_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#email_username {
  color: #3f612f;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 8%;
}

b {
  color: #3f612f;
  font-weight: 580;
}

.actions {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.actions button {
  width: 37%;
  background-color: #3f612f;
  border: none;
  color: #FAF6F4;
  padding: 1% 6%;
  border-radius: 1vw;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  margin-inline: 2.5%;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.actions button:hover {
  background-color: #639b4a;
}
.actions .delete-button {
  background-color: #9C3918;
  color: white;
}
.actions .delete-button:hover {
  background-color: #e15324;
}

.component_body {
  width: 100%;
  min-height: 40vh;
  background-color: #DFDBD5;
  padding: 4% 0.5%;
  border-radius: 0.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 7%;
  font-family: "Inter", sans-serif;
}
.component_body h2 {
  color: #3f612f;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 580;
  text-align: center;
  margin: 0;
}
.component_body li {
  width: 80%;
  padding: 1.8% 6.5%;
  border-radius: 0.5vw;
  background-color: #F9F7F3;
  list-style-type: none;
  margin-bottom: 2.5%;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.121));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.121));
}
.component_body li:hover {
  background-color: #fefcfa;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.component_body a {
  margin-top: auto;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
}

hr {
  margin: 0;
  margin-inline: auto;
  width: 55%;
  height: 1.6px;
  border: none;
  background-color: #99968D;
  margin-bottom: 3%;
}

.trip-snippet {
  color: #333;
}
.trip-snippet li {
  font-weight: 420;
  text-align: start;
}
.trip-snippet:hover {
  color: #333;
}

.fallback-text {
  font-family: "Inter", sans-serif;
  color: #99968D;
  font-size: 1.3rem;
  text-align: center;
}

@media (max-width: 700px) {
  #scroll-to-footer {
    display: none;
  }
  #sign-out-button {
    display: none;
  }
  #get_started {
    display: none;
  }
  .logo_button {
    margin-right: 0;
  }
  .centered_buttons a {
    margin-right: 0;
  }
}